
<app-container1></app-container1>

<div class="container-2">
    <div class="card-container">
        <div class="bar"> </div>
        <div  class="top-restaurant">Some top restaurant for dining out or in!</div>
        <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form 
           of a document or a typeface without relying on meaningful content. 
           Lorem ipsum may be used as a placeholder before final copy is available.</p>
    </div>
    <div class="card-container-2">
        <div class="image">
             <img src="https://i.pinimg.com/originals/ce/b5/35/ceb53556c33d9a2b81c19a79e5dd7c11.jpg">
             <div class="content">
                <h1>Fire Water</h1>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form </p>
                <div class="location">
                    <div class="map">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>{{location}}</p>
                    </div>
                    <button>Book Now
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
             </div>
        </div>
        <div class="image">
            <img src="https://i.pinimg.com/originals/ce/b5/35/ceb53556c33d9a2b81c19a79e5dd7c11.jpg">
            <div class="content">
                <h1>The Wonton</h1>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form </p>
                <div class="location">
                    <div class="map">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>{{location}}</p>
                    </div>
                    <button>Book Now
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="see-more"> 
            <div class="arrow">
                <i class="fa fa-angle-right"></i>
            </div>
            <p>see more</p>
        </div>

    </div>

</div>


<app-bookingcontainer></app-bookingcontainer>


<div class="container-4">
        <div class="card-container-4">
            <div class="content-4">
                <h1>Explore Our Foods</h1>
                <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual 
                    form of a document or a typeface without relying on meaningful content</p>
            </div>
            <div class="cards"> 
                <div class="card">
                    <img src="https://i.pinimg.com/originals/ce/b5/35/ceb53556c33d9a2b81c19a79e5dd7c11.jpg">
                    <div class="item-price">
                        <p>Choclate Milk Shake</p>
                        <p class="price">$100.50</p>
                    </div>
                    <p class="description">Lorem ipsum is a placeholder text commonly used </p>
                </div>
                <div class="card">
                    <img src="https://i.pinimg.com/originals/ce/b5/35/ceb53556c33d9a2b81c19a79e5dd7c11.jpg">
                    <div class="item-price">
                        <p>Choclate Milk Shake</p>
                        <p class="price">$100.50</p>
                    </div>
                    <p class="description">Lorem ipsum is a placeholder text commonly used </p>
                </div>
                <div class="card">
                    <img src="https://i.pinimg.com/originals/ce/b5/35/ceb53556c33d9a2b81c19a79e5dd7c11.jpg">
                    <div class="item-price">
                        <p>Choclate Milk Shake</p>
                        <p class="price">$100.50</p>
                    </div>
                    <p class="description">Lorem ipsum is a placeholder text commonly used </p>
                </div>
                <div class="card">
                    <img src="https://i.pinimg.com/originals/ce/b5/35/ceb53556c33d9a2b81c19a79e5dd7c11.jpg">
                    <div class="item-price">
                        <p>Choclate Milk Shake</p>
                        <p class="price">$100.50</p>
                    </div>
                    <p class="description">Lorem ipsum is a placeholder text commonly used </p>
                </div>
                <div class="card">
                    <img src="https://i.pinimg.com/originals/ce/b5/35/ceb53556c33d9a2b81c19a79e5dd7c11.jpg">
                    <div class="item-price">
                        <p>Choclate Milk Shake</p>
                        <p class="price">$100.50</p>
                    </div>
                    <p class="description">Lorem ipsum is a placeholder text commonly used </p>
                </div>
                <div class="card">
                    <img src="https://i.pinimg.com/originals/ce/b5/35/ceb53556c33d9a2b81c19a79e5dd7c11.jpg">
                    <div class="item-price">
                        <p>Choclate Milk Shake</p>
                        <p class="price">$100.50</p>
                    </div>
                    <p class="description">Lorem ipsum is a placeholder text commonly used </p>
                </div>
            </div>
            <div class="social-media">
                <div>
                    <p>Visit us</p>
                </div>
                <div>
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter-square"></i>
                    <i>Visit us </i>
                </div>
            </div>
        </div>   
</div>
