<!--Header Component-->
<div class="header">
    <div class="header-part1">
        <div class="app-name">
          <a routerLink="/">
            <h1>eatz</h1>
          </a>
        </div>
        <div class="app-details">
          <a routerLink="/home">
            <p>Home</p>
          </a>
          <a routerLink="/offers">
            <p>Offers</p>
          </a>
          <a routerLink="/restaurants">
            <p>Restaurants</p>
          </a>
          <a routerLink="/orders">
            <p *ngIf="LoginValid">Orders</p>
          </a>
          <p *ngIf="LoginValid">Account</p>
        </div>
    </div>
    <div class="cart" >
      <p class="cartitem" *ngIf="LoginValid">Cart<sup><span *ngIf="cartitem!=0">{{cartitem}}</span></sup></p>
      <a routerLink="/login">
        <p class="login-logout" *ngIf="!LoginValid" >Login</p>
      </a>
      <a routerLink="/login">
        <p class="login-logout" *ngIf="LoginValid" (click)="onLogOut()">Logout</p>
      </a>
    </div>
</div>