/*booking container styling*/
.booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background-color: #FFEDDE;
    .booking {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:70%;
        height: 70%;
        background-color: #fff;
        .bar{
            width:75px;
            height: 10px;
            margin-top: 70px;
            background-color: #FE043C;
        }
        h1{
            margin-top: 30px;
            font-size: 2rem;
            font-family: poppins-Bold;
            color: #2e266f;
            opacity: 0.9;
        }
    }
    .search {
            display: flex;
            align-items: center;
            margin: 100px auto 50px;
            width: 75%;
            height: 50px;
            background-color: #fff;
            box-shadow: 1px 1px 5px 5px rgb(254, 4, 60, .2);
            input {
                width:70%;
                height:50px;
                padding: 5px 20px;
                border: none;
                font-size: 1.5rem;
                box-sizing: border-box;
                
            }
            button {
                width:30%;
                height:40px;
                margin-right: 2px;
                background-color: #FE043C;
                border: none;
                font-size: 2rem;
                color: #fff;
            }
    }
    .date-time {
        display: flex;
        justify-content: space-between;
        width:80%;
        margin: 20px auto;
    }
}