@mixin flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}


/*header styling*/
.header {
    position:fixed;
    @include flexCenter();
    padding: 15px;
    width: 100%;
    background-color: #FE043C;
    box-sizing: border-box;
    z-index: 1;
    .header-content{
        display: flex;
        justify-content: space-between;
        width:100%;
        margin: 0 2.5%;
    }
}
sup { 
    vertical-align:super;
    width:40px;
    height:10px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}
.cartitem {
    margin-bottom: 5px;
}
.header-part1 {
    @include flexCenter();
    // margin-left: 4%;
}

/*app name & details styling*/
.app-name {
    @include flexCenter();
    margin-left: 12%;
    font-family: poppins-extraBold;
    font-size: 2.3rem;
}
.app-navigation-details {
    @include flexCenter();
    margin-left: 15%;
    font-size: 0.8rem;
    p {
        margin-left: 82.5px;
    }
}

/* cart styling*/
.cart-login-logout {
    @include flexCenter();
    margin:0 5% 0 10%;
    font-size: 0.9rem;
    .login-logout{
        margin-left: 30px;
    }
}