
<!--login container-->
<div class="login-container">
     <!--login card container-->
     <div class="login-card-container">
          <!--login image-->
          <div class="login-image">
               <img src="../../assets/images/LoginImage.png" alter="LoginImage">
          </div>
          <!--login form-->
          <form class="login-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
               <h3>Login into Eatz</h3>
               <!--username part-->
               <label for="username"></label>
               <input type="text" name="username" placeholder="username" ngModel>
               <p *ngIf="isNameEmpty">Please enter valid username</p>
               <!--password part-->
               <label for="password"></label>
               <input type="password" name="password" placeholder="password" ngModel>
               <p *ngIf="isPasswordEmpty">Please enter valid password</p>
               <!--login button-->
               <button type="submit">{{loginButton}}</button>
          </form>
     </div>
</div>