
<!--login container-->
<div class="login-container">
     <!--login card container-->
     <div class="login-card-container">
          <!--login image-->
          <div class="login-image">
               <img src="../../assets/images/LoginImage.png" alter="LoginImage">
          </div>
          <!--login form-->
          <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
               <h3>Login into Eatz</h3>
               <!--username part-->
               <label for="username"></label>
               <input type="text" name="username" formControlName="username" placeholder="username" ngModel>
               <p *ngIf="isNameEmpty">{{usernameEmpty}}</p>
               <!--password part-->
               <label for="password"></label>
               <input type="password" name="password" formControlName="password" placeholder="password" ngModel>
               <p *ngIf="isPasswordEmpty">{{passwordEmpty}}</p>
               <p *ngIf="!valid && !isPasswordEmpty && !isNameEmpty">{{invalidCredentials}}</p>
               <!--login button-->
               <button type="submit">{{loginButton}}</button>
          </form>
     </div>
</div>