/*container 1 -card container styling*/
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    .food-discover{
        margin: 200px 20px 0 0;
        width: 45%;
        font-size: 3rem;
        font-family: poppins-Bold;
        color:#2e266f;
        h1{
            font-size: 5rem;
            opacity: 0.1;
        }
        .restaurant-search {
            display: flex;
            align-items: center;
            margin-top: 20px;
            width: 75%;
            height: 75px;
            background-color: #fff;
            input {
                width:70%;
                height:75px;
                padding: 5px 20px;
                border: none;
                font-size: 2rem;
                box-sizing: border-box;  
            }
            button {
                width:30%;
                height:70px;
                background-color: #FE043C;
                border: none;
                font-size: 1.5rem;
                color: #fff;
            }
        }
    }
    img {
        width:50%;
        height:75%;
        margin: 200px 0;
    }
}

/*location styling*/
.location {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: #fff;
    font-family: poppins-Bold;
    width: 300px;
    padding: 20px;
    background-color: red;
    border-radius: 0 100px 100px 0;
    i{
        font-size: 3rem;
    }
    p{
        margin: 0 20px;
        font-size: 2rem;
    }
}