
<!--restaurant page container-->
<div class="restaurant-page-container">
    <!--restaurant search content-->
    <div class="restaurant-search">
        <p>Restaurants</p>
        <div class="search">
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                <input type="text" name="restaurantname" ngModel>
                <button type="submit">{{searchButton}}</button>
            </form>
        </div>
    </div>
    <!--restaurants container contains all restaurant details in card format-->
    <div class="restaurants-container" *ngIf="noresult==false" >
        <p *ngIf="isFetching">Loading...</p>
        <div *ngFor="let restaurant of restaurantDisplay" >
            <!--individual restaurant card container-->
            <div class="restaurant-card-container" [ngClass]="{unavailable:restaurant.open==false}" >
                <!--restaurant item image-->
                <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,c_fill/{{restaurant.cloudinaryImageId}}">
                <!--card bottom content - restaurant details-->
                <div class="card-bottom">
                    <div class="restaurant-address">
                        <p>{{restaurant.name}}</p>
                        <h2>Mount Road</h2>
                        <p class="cuisine">{{restaurant.cuisine}}</p>
                    </div>
                    <!--rating and delivery details-->
                    <div class="rating-delivery" >
                        <p>Rating:{{restaurant.rating}}</p>
                        <p class="delivery">Delivery in {{restaurant.deliveryTimeInMins}} mins</p>
                        <p>${{restaurant.price.costForTwo}} For Two</p>
                    </div>
                </div>
                <!--see more button-->
                <button>{{cardButton}}</button>
            </div>
        </div>
    </div>

    <!--no results found content-->
    <div class="noresult" *ngIf="noresult==true">
        <p >No Result Found</p>
    </div>
    <!--social media container-->
    <app-socialmedia *ngIf="!isFetching" class="app-socialmedia"></app-socialmedia>
</div>
