<!--home component container 1-->
<!-- <div class="container">
    <div class="card-container">
        <div class="food-discover">
            <h1>Food</h1>
            <h2>Discover Restaurant & Delicious Food</h2>
            <div >
                <form (ngSubmit)="onSearch(form)" class="restaurant-search" #form="ngForm">
                    <input type='text' name="restaurant" placeholder="Search Restaurant" ngModel> 
                    <button type="submit" >Go</button>
                </form>
            </div>
        </div>    
        <img src='../../assets/images/LoginImage.png'>
    </div>
    
    <div class="location">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>{{location}}</p>
    </div>
</div> -->
<app-container1></app-container1>
<app-bookingcontainer></app-bookingcontainer>

<!-- home component booking container
<div class="booking-container">
    <div class="booking">
        <div class="bar"></div>
        <h1>advanced booking</h1>
        <div >
            <form (ngSubmit)="onBooking(booking)" class="search" #booking="ngForm">
                <input type='text' name="searchRestaurant" placeholder="Search Restaurant" ngModel>
                <button type="submit" >Go</button>
            </form>
        </div>
        <div class="date-time">
            <div>
                <p>Date {{date}}</p>
                <input type="date" id="date" name="date" min="{{date}}" [(ngModel)]="selecteddate" >
            </div>
            <div>
                <p>Time</p>
                <input type="time" id="time" name="time" value="00:00"  [(ngModel)]="selectedTime">
            </div>
            <div>
                <p>Guests</p>
                <select name="guest" [(ngModel)]="selectedPerson">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
        </div>
    </div>   
</div> -->

