<div class="offers-container">
<div class="offer">
<h1>Offers</h1>
</div>
<div class="container">
    <div class="offer-container" >
        <div *ngFor="let offer of offer" >
        <div class="card-container" [ngClass]="{unavailable:offer.available==false}"> 
            <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,c_fill/{{offer.cloudinaryImageId}}">
            <div class="card-bottom">
                <div class="item-name-restaurant">
                    <p>{{offer.name}}</p>
                    <h2>{{offer.restaurant}}</h2>
                </div>
                <div class="price">
                    <p class="discount-price">${{offer.price.discountPrice}}</p>
                    <p class="cost-price">${{offer.price.costPrice}}</p>
                </div>
            </div>
            <p class="delivery">Delivery in {{offer.deliveryTimeInMins}} mins</p>
            <button (click)="addtocart(offer)">Add to Cart</button>
        </div>
    </div>
</div>
</div>
</div>
